@import "tailwindcss";

@theme {
  --color-background: #1B1C26;
  --color-deep-wine: #3A0F17;
  --color-primary: #731F2E;
  --color-accent: #C5A059;
  --color-light: #F2EDDC;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-felix);
}

body {
  background-color: var(--color-background);
  color: var(--color-light);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: normal;
}
